html {
    font-family: Sono;
    // background-color: #000;
    background: linear-gradient(to bottom right, #7e87a3, #87bcff, #5193b6, #5aa9a5, #a589e0);
        height: 100vh;
    &::-webkit-scrollbar {
        width: 0px;
    }
}

button svg{
    color: #fff;
}

.none{
    display: none !important;
}

// app.jsx
.app{
    box-sizing: border-box;
}

.app__main {
    box-sizing: border-box;
    position: relative;
    top: 62px;
    left: 300px;
    width: calc(100vw - 300px);
}

.paginationBttns {
    display: flex;
    justify-content: center;

    & li{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 20px;
        font-weight: 700;
    }
}

.paginationActive {
    background-color: rgba(255, 255, 255, 0.8) !important;
    color: #000000;
}

.line1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

