.listcategory{
    box-sizing: border-box;
    &__wapper {
        padding: 0 20px;
    }

    &__main {


        &__header{
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #fff;

            & a {
                text-decoration: none;
                color: #fff;
                font-size: 18px;
            }
        }

        &__title{
            font-size: 25px;
            font-weight: 700;
            color: #fff;
        }

        &__list{
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            margin: 10px 10px;
            flex-wrap: wrap;
            &__item{
                box-sizing: border-box;
                margin: 10px 0 0 0;
                width: calc((100% / 5) - 10px);
                height: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: rgba(0,0,0,1);
                border-radius: 30px;
                & img {
                    width: 100%;
                    height: 150px;
                    object-fit: cover;
                    border-top-right-radius: 30px;
                    border-top-left-radius: 30px;
                }

                &__info{
                    margin-top: 20px;
                    width: 100%;

                    & h2{
                        margin-bottom: 10px;
                        font-size: 25px;
                        color: #fff;
                        border-bottom: 1px solid #fff;
                    }
                    & p{
                        margin-bottom: 10px;
                        font-size: 20px;
                        color: #fff;
                    }
                }
            }
        }
    }
}