.listtopic {
    width: inherit;
    position: relative;
    box-sizing: border-box;
    &__wapper{
        display: flex;
        justify-content: center;
        padding: 0 20px;
        
    }

    &__main{
        width: inherit;
        box-sizing: border-box;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow-y: scroll;
        overflow: hidden;

        &__title{
            position: absolute;
            bottom: 0;
            z-index: 10;
            display: flex;
            justify-content: center;
            font-weight: 700;
            width: 100%;
            font-size: 3rem;
            color: #000000;
            text-shadow: rgb(0, 0, 0) 8px 0 10px;  
            background-color: #ffd7d7;          
        }

        &::-webkit-scrollbar {
            width: 10px;
        }
        & li{
            width: 400px;
            padding: 20px 10px 20px 10px;
            opacity: 1;
            & a{
                position: relative;
                display: block;
                height: inherit;
                border-radius: 30px;
                overflow: hidden;
                & img{
                    width: 380px;
                    height: 213px;
                    object-fit: cover;
                    cursor: pointer;
                }
            }
            &.active {
                opacity: 1;
            }
        }
    }

    &__directional{
        display: none;
        box-sizing: border-box;
        // display: flex;
        justify-content: space-between;
        & li {
            & button {
                cursor: pointer;
                border: none;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(255,255,255,0.5);
                & svg {
                    border-radius: 50%;
                    padding: 20px;
                    width: 40px;
                    height: 40px;
                    color: #fff;
                }
            } 

            &:first-child{
                position: absolute;
                top: 33%;
                left: 0;
            }
            &:last-child{
                position: absolute;
                top: 33%;
                right: 0;
            }
        }

    }

    &:hover{
        .listtopic__directional {
            display: flex;
        }
    }
}


@keyframes moves {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

