.playsong{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 40;
}

.rhap_container {
    background: linear-gradient(to bottom right, #b2b4bc, #9d8981, #485460, #345553, #35215e);
    // background: linear-gradient(to bottom right,
    //             rgba(178, 180, 188, 0),
    //             rgba(157, 137, 129, 0),
    //             rgba(72, 84, 96, 0),
    //             rgba(52, 85, 83, 0),
    //             rgba(53, 33, 94, 0));
    border: none;
}

.rhap_time {
    color: #fff;
}

.rhap_progress-bar,
.rhap_volume-indicator {
    background-color: #fff;
}